<br />
<div class="row">
  <div class="container">
    <div class="col s12 m8 offset-m2">
      <div class="card ticket">
        <divs class="card-content">
          <span class="card-title">
            <h2>{{ticket.nameOfJob}}</h2>
            <p class="single-info">{{formatDate
                ticket.date
                "MMMM Do YYYY"
              }}</p>
            <span class="single-info">Assigned to: </span><p> {{ticket.assignedTo}}</p>
            <span class="single-info">Location: </span><p>{{ticket.location}}</p>
          </span>
          <span class="single-info">Description:</span>
          <br />
          <p>{{ticket.description}}</p>
          <br />
          <span class="single-info">Comments: </span><p>{{ticket.comments}}</p>
        </div>
        <a href="/tickets/addcomment/{{ticket._id}}"><span
            class="comment btn grey darken-3 text-white hoverable waves"
          >Add Comment</span></a>
      </div>
    </div>
  </div>
</div>