<h2>Dashboard</h2>
<h3>Welcome {{user.userName}}</h3>

<br />

<h4>Your Tickets</h4>
<div id="work-collections">
  <div class="row">
    <div class="col s12 m12 l6">
      <ul id="projects-collection" class="collection z-depth-1">
        <li class="collection-item">
          <h6 class="collection-header m-2 table-title">Open</h6>
        </li>
        {{#each tickets}}

          <li class="collection-item">
            <div class="row">
              <div class="col s3">
                <p class="collections-title">{{nameOfJob}}</p>
                <p class="collections-content"><span
                    class="collections-content"
                  >Assigned to:</span>
                  {{assignedTo}}</p>
                <p class="collections-content"><span
                    class="collections-content"
                  >Date:</span>
                  {{formatDate date "MMMM Do YYYY"}}</p>
              </div>
              <div class="col s9">
                <p class="collections-title" data-id="{{_id}}">Description:</p>
                <p class="collections-content"><span class="btn red float right delete"><i class="fas fa-trash small"></i></span>{{stripTags (truncate description 150)}}</p>
              </div>
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>