<h2>Dashboard</h2>
<h3>Welcome {{user.userName}}</h3>

<br />

{{! <h4>Your Tickets</h4> }}
<div id="work-collections">
  <div class="row">
    <div class="container">
      <div class="col s12 m6 l6">
        <h4>Your Tickets</h4>

        {{! OPEN TICKETS }}
        <ul id="projects-collection" class="collection z-depth-1">
          <li class="collection-item">
            <h6 class="collection-header m-2 table-title">Open</h6>
          </li>
          {{#each tickets}}
            {{#unless completed}}
              <li class="collection-item">
                <div class="row">
                  <div class="col s3">
                    <p class="collections-title"><span
                        class="collections-content"
                      >Ticket: <br /></span>{{nameOfJob}}</p>
                    <p class="collections-content"><span
                        class="collections-content"
                      >Assigned to:</span>
                      {{assignedTo}}</p>
                    <p class="collections-content"><span
                        class="collections-content"
                      >Date:</span>
                      {{formatDate date "MMMM Do YYYY"}}</p>
                  </div>
                  <div class="col s9" data-id="{{_id}}">
                    <p class="collections-title">Description:</p>
                    <p class="collections-content delete">
                      <form
                        action="/home/deleteTicket/{{_id}}?_method=DELETE"
                        method="POST"
                      >
                        <button class="btn red float right" type="submit"><i
                            class="fas fa-trash small"
                          ></i></button>
                      </form>
                      {{! <span
                        class="btn red float right"
                      ><i class="fas fa-trash small"></i></span> }}
                      {{stripTags (truncate description 150)}}</p>
                  </div>
                </div>
              </li>
            {{/unless}}
          {{else}}
            <li class="collections-title">You have no open tickets to display</li>
          {{/each}}
        </ul>

        {{! CLOSED TICKETS }}
        <ul id="projects-collection" class="collection z-depth-1">
          <li class="collection-item">
            <h6 class="collection-header m-2 table-title">Closed</h6>
          </li>
          {{#each tickets}}
            {{#if completed}}
              <li class="collection-item">
                <div class="row">
                  <div class="col s3">
                    <p class="collections-title"><span
                        class="collections-content"
                      >Ticket: <br /></span>{{nameOfJob}}</p>
                    <p class="collections-content"><span
                        class="collections-content"
                      >Assigned to:</span>
                      {{assignedTo}}</p>
                    <p class="collections-content"><span
                        class="collections-content"
                      >Date:</span>
                      {{formatDate date "MMMM Do YYYY"}}</p>
                  </div>
                  <div class="col s9" data-id="{{_id}}">
                    <p class="collections-title">Description:</p>
                    <p class="collections-content delete"><span
                        class="btn red float right"
                      ><i class="fas fa-trash small"></i></span>{{stripTags
                        (truncate description 150)
                      }}</p>
                  </div>
                </div>
              </li>
            {{/if}}
          {{else}}
            <li class="collections-title">You have no closed tickets to display</li>
          {{/each}}
        </ul>
      </div>

      {{! Tickets assigned to you }}

      <div class="col s12 m6">
        <h4>Assigned Tickets</h4>
        <ul id="projects-collection" class="collection z-depth-1">
          <li class="collection-item">
            <h6 class="collection-header m-2 table-title">Open</h6>
          </li>
          {{#each assignedTickets}}
            {{#unless completed}}

              <li class="collection-item">
                <div class="row">
                  <div class="col s3">
                    <p class="collections-title"><span
                        class="collections-content"
                      >Ticket: <br /></span>{{nameOfJob}}</p>
                    <p class="collections-content"><span
                        class="collections-content"
                      >Client:</span>
                      {{clientName}}</p>
                    <p class="collections-content"><span
                        class="collections-content"
                      >Assigned to:</span>
                      {{assignedTo}}</p>
                    <p class="collections-content"><span
                        class="collections-content"
                      >Date:</span>
                      {{formatDate date "MMMM Do YYYY"}}</p>
                  </div>
                  <div class="col s9" data-id="{{_id}}">
                    <p class="collections-title">Description:</p>
                    <p class="collections-content del">{{stripTags
                        (truncate description 150)
                      }}</p><span
                      class="del close btn red darken-4 text-white waves-red hoverable"
                    >Mark Closed</span>
                  </div>
                </div>
              </li>
            {{/unless}}
          {{else}}
            <li class="collections-title">You have no open tickets to display</li>
          {{/each}}
        </ul>
      </div>

      {{! Tickets open to anyone }}
      <div class="col s12 m6">
        <h4>Anyone Tickets</h4>
        <ul id="projects-collection" class="collection z-depth-1">
          <li class="collection-item">
            <h6 class="collection-header m-2 table-title">Open</h6>
          </li>
          {{#each anyoneTickets}}
            {{#unless completed}}

              <li class="collection-item">
                <div class="row">
                  <div class="col s3">
                    <p class="collections-title"><span
                        class="collections-content"
                      >Ticket: <br /></span>{{nameOfJob}}</p>
                    <p class="collections-content"><span
                        class="collections-content"
                      >Client:</span>
                      {{clientName}}</p>
                    <p class="collections-content"><span
                        class="collections-content"
                      >Assigned to:</span>
                      {{assignedTo}}</p>
                    <p class="collections-content"><span
                        class="collections-content"
                      >Date:</span>
                      {{formatDate date "MMMM Do YYYY"}}</p>
                  </div>
                  <div class="col s9" data-id="{{_id}}">
                    <p class="collections-title">Description:</p>
                    <p class="collections-content del">{{stripTags
                        (truncate description 150)
                      }}</p><span
                      class="del close btn red darken-4 text-white waves-red hoverable"
                    >Mark Closed</span>
                  </div>
                </div>
              </li>
            {{/unless}}
          {{else}}
            <li class="collections-title">You have no open tickets to display</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>